<div class="cards-grid row " style="margin-right: -489px;" >
  <% flowers.each do |flower| %>
    <div class="col-sm-6">
      <%= render "shared/card", flower: flower %>
    </div>
  <% end %>
</div>

