<div class="footer" >
  <div class="footer-links">
    <a href="https://www.instagram.com/afleurdetoit/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Afleurdetoitcharonne"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    A fleur de toit with <i class="fas fa-heart"></i>
  </div>
</div>
