<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - The French innovative coding school">
  <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="http://twitter-card.jpg">
  <meta charset="utf-8">
</head>
<div classe="container">
      <title style="color: white">A fleur de toit</title>
      <div class="banner" style="padding-bottom:80px;">
        <%= image_tag "IMG-0670.jpg", :class => "style_image" %>
        <div class="container align-items-center justify-content-center">
          <h1 style="margin-top: -230px;color: white;text-shadow: 1px 1px 3px rgba(0,0,0,0.2);font-size: 32px;font-weight: bold;position:relative">A fleur de toit <strong>creative</strong> to <strong>create together</strong>!</h1>
          <p style="  font-size: 20px;color: white;opacity: .7;text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Lorem ipsum.</p>
          <a class="btn btn-gradient" href="flowers" style="position:absolute;te">Boutique</a>
        </div>
      </div>
      <div class="card-product">
        <%= image_tag "IMG-0839.jpg", :class =>"img_steph" %>
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
     </div>
    <div class="card-product-2" style="  overflow: hidden;height: 120px;background: white;box-shadow: 0 0 15px rgba(0,0,0,0.2);display: flex;align-items: center; margin-top:auto;}">
      <a href="">
        <%= image_tag "119643530_689136318376831_7543250266339039015_n(1).jpg", :class => "img_home"%>
      </a>
      <div class="card-product-infos">
        <h2 style="  font-size: 16px;font-weight: bold;margin: 0;">Stephane, owner Afleurdetoit</h2>
        <p style="  font-size: 12px;line-height: 1.4;opacity: .7;margin-bottom: 0;margin-top: 8px;">Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  <p>
  You can emphasize <em>some words</em>,
  and even <strong>more if needed</strong>
  </p>
</div>
