<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - The French innovative coding school">
  <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="http://twitter-card.jpg">
  <meta charset="utf-8">
</head>
      <title style="color: white">A fleur de toit</title>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); background-position: center;">
        <%= image_tag "afleurdetoi2.png", :class => "style_image" %>
        <div class="container" style="margin-top: -400px;">
          <h1 style="  margin: 0;color: white;text-shadow: 1px 1px 3px rgba(0,0,0,0.2);font-size: 32px;font-weight: bold;">A fleur de toit <strong>creative</strong> to <strong>create together</strong>!</h1>
          <p style="  font-size: 20px;color: white;opacity: .7;text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Lorem ipsum.</p>
          <a class="btn btn-flat" href="flowers" onmouseover="this.style.background='#167FFB';this.style.color='white';" onmouseout="this.style.background='#167FFB';this.style.color='white'" style="    color: white;padding: 8px 24px; border-radius: 4px;background: #167FFB;transition: background 0.3s ease;">View creation</a>
        </div>
      </div>
      <div class="card-category" style=" margin-top: 330px; height:400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Breakfast
      </div>
      <h1>Hello buddies!</h1>
    </body>
    <div class="card-product" style="  overflow: hidden;height: 120px;background: white;box-shadow: 0 0 15px rgba(0,0,0,0.2);display: flex;align-items: center;}">
      <a href="">
        <%= image_tag "119643530_689136318376831_7543250266339039015_n(1).jpg", :class => "img_home"%>
      </a>
      <div class="card-product-infos">
        <h2 style="  font-size: 16px;font-weight: bold;margin: 0;">Stephane, owner Afleurdetoit</h2>
        <p style="  font-size: 12px;line-height: 1.4;opacity: .7;margin-bottom: 0;margin-top: 8px;">Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  <p>
  You can emphasize <em>some words</em>,
  and even <strong>more if needed</strong>
  </p>

